// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.info {
  font-size: 20pt;
  text-align: center;
}

ul.links {
  list-style-type: none;
  padding: 0px;
  a {
    color: inherit;
    display: inline-block; 
    font-size: 20pt;
    font-style: italic;
    padding: 20px;
    text-align: center;
    width: 55%;
    max-width: 250px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: all;
    -moz-transition-duration: 0.75s;
    -moz-transition-timing-function: ease-out;
    transition-property: all;
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
    &:hover {
      background-color: $hover_color;
      color: $primary_color;
    }
  }
}


