@import "colors";

.CodeRay {
  padding: 1em 0px 1em 1em;
  font-size: 10pt;
}
.CodeRay:hover {
}

.CodeRay pre {
  margin: 0px;
  font-family: "ubuntu-mono", Monaco, monospace ;
  line-height: initial;
}

$colorA: #21235C;
$colorB: #393B85;
$colorC: #7A74A2;
$colorD: #AC9FB5;
$colorE: $primary_color;
$colorF: $secondary_color_bright;
$colorG: $secondary_color_dark;

div.CodeRay { }
span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .line-numbers, .CodeRay .no {
  background-color: #ECECEC;
  color: #AAA;
  text-align: right;
}

.CodeRay .line-numbers a {
  color: #AAA;
}

.CodeRay .line-numbers tt { font-weight: normal }
.CodeRay .line-numbers .highlighted { color: red }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay span.line-numbers { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.CodeRay .debug { color:white ! important; background:blue ! important; }

.CodeRay .annotation { color:$colorD }
.CodeRay .attribute-name { color:$colorC }
.CodeRay .attribute-value { color:$colorC }
.CodeRay .binary { color:$colorD; font-weight:normal }
.CodeRay .comment  { color:$colorD; font-style: italic;}
.CodeRay .char { color: $colorC }
.CodeRay .char .content { color: $colorC }
.CodeRay .char .delimiter { color: $colorC }
.CodeRay .class { color:$colorB; font-weight:normal }
.CodeRay .complex { color:$colorB; font-weight:normal }
.CodeRay .constant { color:$colorB; }
.CodeRay .color { color: $colorC; }
.CodeRay .class-variable { color:$colorB; }
.CodeRay .decorator { color: $colorG; }
.CodeRay .definition { color: $colorG; font-weight:normal }
.CodeRay .directive { color: $colorG; font-weight:normal }
.CodeRay .delimiter { color: $colorE; }
.CodeRay .doc { color:$colorA; }
.CodeRay .doctype { color: $colorA; }
.CodeRay .doc-string { color:$colorA; font-weight:normal }
.CodeRay .escape  { color:$colorC; font-weight:normal }
.CodeRay .entity { color:$colorE; font-weight:normal }
.CodeRay .error { color: $primary_color; }
.CodeRay .exception { color:$colorC; font-weight:normal }
.CodeRay .filename { color:$colorC; }
.CodeRay .function { color:$colorA; font-weight:normal }
.CodeRay .global-variable { color:$colorB; font-weight:normal }
.CodeRay .hex { color:#058; font-weight:normal }
.CodeRay .integer  { color:$colorE; }
.CodeRay .include { color:#B44; font-weight:normal }
.CodeRay .inline { color: $colorA }
.CodeRay .inline .inline-delimiter { color: #D14; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:$colorC; }
.CodeRay .interpreted { color:#B2B; font-weight:normal }
.CodeRay .instance-variable { color:$colorB; }
.CodeRay .label { color:$colorF; font-weight:normal }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; font-weight:normal }
.CodeRay .operator { }
.CodeRay .predefined-constant {  font-weight:normal }
.CodeRay .predefined { color:#369; font-weight:normal }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; font-weight:normal }
.CodeRay .predefined-type { color:#074; font-weight:normal }
.CodeRay .reserved, .keyword  { color:$colorA; font-weight:normal }

.CodeRay .key { color: $colorC; }
.CodeRay .key .delimiter { color: $colorC; }
.CodeRay .key .char { color: $colorC; }
.CodeRay .value { color: $colorC; }

.CodeRay .regexp .content { color:$colorC; }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function  { color:#404; font-weight: normal }

.CodeRay .string { color: $colorC; }
.CodeRay .string .string { }
.CodeRay .string .content { color: $colorC; }
.CodeRay .string .char { color: $colorE; }
.CodeRay .string .delimiter { color: $colorC; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#990073 }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag { color:#070 }
.CodeRay .tag-special { color:#D70; font-weight:normal }
.CodeRay .type { color:#339; font-weight:normal }
.CodeRay .variable  { color:#036 }

.CodeRay .change { color: #aaf; }
.CodeRay .head { color: #f8f; }

.CodeRay .insert .insert { color: #080; font-weight:normal }
.CodeRay .delete .delete { color: $colorE; font-weight:normal }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }
