@import "colors";

/*@font-face {*/
  /*font-family: "fanwood";*/
  /*src: url("fanwood_text-webfont.woff");*/
/*}*/
/*@font-face {*/
  /*font-family: "fanwood";*/
  /*src: url("fanwood_text_italic-webfont.woff");*/
  /*font-style: italic;*/
/*}*/

/*@font-face {*/
  /*font-family: "ubuntu-mono";*/
  /*src: url("ubuntu-mono.woff");*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/


body {
  background-color: $light_color;
  background-image: image-url('background.png');
  color: $dark_color;
  font-family:  "fanwood", 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  margin: 0px;
}

.container.body { 
  padding-top: 15px;
}
@media only screen and (max-width: 767px) {
  .container.body { 
    padding-top: 0px;
  }
}


.liner { 
  .dark {
    float:left;
    width:15%;
  }
  .line_one { 
    background-color: $light_color;
    height: 13px;
    .dark { 
      height: 13px;
      background-color: darken($light_color, $darken_amount);
    }
  }
  .line_two { 
    background-color: $primary_color;
    height: 21px;
    .dark { 
      height: 21px;
      background-color: darken($primary_color, $darken_amount);
    }
  }
  .line_three { 
    background-color: $secondary_color_bright;
    height: 5px;
    .dark { 
      height: 5px;
      background-color: darken($secondary_color_bright, $darken_amount);
    }
  }
  .line_four { 
    background-color: $secondary_color_dark;
    height: 8px;
    .dark { 
      height: 8px;
      background-color: darken($secondary_color_dark, $darken_amount);
    }
  }
}

footer.footer{
  margin: 100px 0 0 0;
  text-align: center;
}


.pannel_link span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}

.paper_shadow, .CodeRay {
  background-color: $light_color;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.1) inset;
  -moz-box-shadow:    0 1px 4px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.1) inset;
  box-shadow:         0 1px 4px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.1) inset;
  &:before, &:after { 
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:   0 0 20px rgba(0,0,0,0.4);
    box-shadow:        0 0 20px rgba(0,0,0,0.4);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }
  &:after { 
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }

}
