@import "colors";

article header { 
  box-shadow: none;
  float:none;
}

.post {
  font-size: 13pt;
  line-height: 27px; 
  margin: 40px 0;
  padding: 0px;

  code {
    background-color: $light_color;
    -webkit-box-shadow: 0 0px 14px rgba(0,0,0,0.15) inset;
    -moz-box-shadow:    0 0px 14px rgba(0,0,0,0.15) inset;
    box-shadow:         0 0px 14px rgba(0,0,0,0.15) inset;
    display: inline-block;
    font-family: "ubuntu-mono", Monaco, monospace;
    font-size: 12pt;
    padding: 0px 2px;
    margin:  0px 2px;
  }

  .info {
    border: solid 3px $border_color;
    border-right: none;
    border-left: none;
    font-style: italic;
    text-align: center; 
    .pubdate {
      border-top: solid 3px $border_color;
      font-size: 11pt; 
      padding-top: 5px;
    }
    h2.title { 
      margin: 0px;
      a { 
        color: inherit; 
        display: block;
        font-size: 18pt; 
        font-weight: normal;
        padding: 5px;
        text-decoration:none;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.75s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-property: all;
        -moz-transition-duration: 0.75s;
        -moz-transition-timing-function: ease-out;
        transition-property: all;
        transition-duration: 0.75s;
        transition-timing-function: ease-out;
        &:hover { 
          background-color: $hover_color;
          color: $primary_color;
        }
      }
    }
    ul.admin_nav {
      border-top: solid 3px $border_color;
      font-size: 11pt;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li { margin: 0; padding: 0; }
      .message {
        display: block;
        padding: 5px;
        color: $primary_color;
      }
      a {
        background-color: transparent;
        color: inherit;
        display: block;
        padding: 5px;
        text-decoration: none;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.75s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-property: all;
        -moz-transition-duration: 0.75s;
        -moz-transition-timing-function: ease-out;
        transition-property: all;
        transition-duration: 0.75s;
        transition-timing-function: ease-out;
        &:hover { 
          background-color: $hover_color;
          color: $primary_color;
        }
      } 
    }
  }

  .post-body {
    min-height: 200px;
    p:first-child {
      margin-top: 0px;
    }
    a {
      text-decoration: underline;
      color: $secondary_color_dark;
      padding: 0 4px;
      -webkit-transition-property: all;
      -webkit-transition-duration: 0.75s;
      -webkit-transition-timing-function: ease;
      -moz-transition-property: all;
      -moz-transition-duration: 0.75s;
      -moz-transition-timing-function: ease;
      transition-property: all;
      transition-duration: 0.75s;
      transition-timing-function: ease;
      &:visited {
        color: $dark_color;
      }
      &:hover { 
        background-color: $light_color;
        color: $primary_color;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .post .info {
    border-left: none;
  }
  .post-body {
    p:first-child {
      margin-top: 20px;
    }
  }
}

