@import "colors";


/*archive date row*/

.archives { 
  h3 { 
    text-align: center;
    color: $dark_color;
  }
  .post_overview {
    .date_box { 
      float: left; 
      margin: 7px;
    }

    timedate {
      background-color: $primary_color;
      color: $light_color;
      display: table-cell;
      font-weight: bold; 
      font-size: 25px;
      height: 60px;
      margin: 7px;
      text-align: center;
      text-shadow: 0px 0px  15px black;
      vertical-align: middle;
      width: 60px;
    }

    h4 {
      display: block;
      font-style: italic;
      font-weight: normal;
      padding: 5px;
      text-decoration: none;
      text-align: center;
    } 

    .preview { 
      padding: 10px;
      line-height: initial; 
      font-size: 12px;
      a { 
        text-decoration: none;
        color: $dark_color;
      }
      p:first-child { 
        -webkit-margin-before: 0;
        -moz-margin-before: 0;
        margin-before: 0;
      }
    }
  }
}


article header { 
  box-shadow: none;
  float:none;
}

.post {
  font-size: 13pt;
  line-height: 27px; 
  margin: 40px 0;
  padding: 0px;

  code {
    -webkit-box-shadow: 0 0px 40px rgba(0,0,0,0.05) inset;
    -moz-box-shadow:    0 0px 40px rgba(0,0,0,0.05) inset;
    box-shadow:         0 0px 40px rgba(0,0,0,0.05) inset;
    display: inline-block;
    font-family: "ubuntu-mono", Monaco, monospace;
    font-size: 12pt;
    padding: 0px 2px;
    margin:  0px 2px;
  }

  .info {
    font-style: italic;
    text-align: center; 
    .pubdate {
      border-top: solid 3px $border_color;
      font-size: 11pt; 
      padding-top: 5px;
    }
    h2.title { 
      margin: 0px;
      a { 
        color: inherit; 
        display: block;
        font-size: 18pt; 
        font-weight: normal;
        padding: 0 5px 5px 5px;
        text-decoration:none;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.75s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-property: all;
        -moz-transition-duration: 0.75s;
        -moz-transition-timing-function: ease-out;
        transition-property: all;
        transition-duration: 0.75s;
        transition-timing-function: ease-out;
        &:hover { 
          background-color: $hover_color;
          color: $primary_color;
        }
      }
    }
    ul.admin_nav {
      border-top: solid 3px $border_color;
      font-size: 11pt;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li { margin: 0; padding: 0; }
      .message {
        display: block;
        padding: 5px;
        color: $primary_color;
      }
      a {
        background-color: transparent;
        color: inherit;
        display: block;
        padding: 5px;
        text-decoration: none;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.75s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-property: all;
        -moz-transition-duration: 0.75s;
        -moz-transition-timing-function: ease-out;
        transition-property: all;
        transition-duration: 0.75s;
        transition-timing-function: ease-out;
        &:hover { 
          background-color: $hover_color;
          color: $primary_color;
        }
      } 
    }
  }

  .post-body {
    min-height: 200px;
    p:first-child {
      margin-top: 0px;
    }
    a {
      text-decoration: underline;
      color: $secondary_color_dark;
      padding: 0 4px;
      -webkit-transition-property: all;
      -webkit-transition-duration: 0.75s;
      -webkit-transition-timing-function: ease;
      -moz-transition-property: all;
      -moz-transition-duration: 0.75s;
      -moz-transition-timing-function: ease;
      transition-property: all;
      transition-duration: 0.75s;
      transition-timing-function: ease;
      &:visited {
        color: $dark_color;
      }
      &:hover { 
        background-color: $light_color;
        color: $primary_color;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .post .info {
    border-left: none;
  }
  .post-body {
    p:first-child {
      margin-top: 20px;
    }
  }
}

