/*http://www.colourlovers.com/palette/2572053/sergio_filho*/
/*$light_color: rgb(255,255,207);*/
/*$dark_color: rgb(10,36,59);*/
/*$primary_color: rgb(46,143,240);*/
/*$secondary_color_bright: rgb(254,162,1);*/
/*$secondary_color_dark: rgb(240,119,6);*/

/*http://www.colourlovers.com/palette/940086/mystery_machine*/
/*$light_color: #F1EFA5;*/
/*$dark_color: #554236;*/
/*$primary_color: #F77825;*/
/*$secondary_color_bright: #D3CE3D;*/
/*$secondary_color_dark: #60B99A;*/

/*http://www.colourlovers.com/palette/444487/Curiosity_Killed*/
/*$light_color: #EFFFCD;*/
/*$dark_color: #2E2633;*/
/*$primary_color: #99173C;*/
/*$secondary_color_bright: #DCE9BE;*/
/*$secondary_color_dark: #555152;*/


/*http://www.colourlovers.com/palette/379413/you_are_beautiful*/
/*$light_color: #E8CAA4;*/
/*$dark_color: #351330;*/
/*$primary_color: #CC2A41;*/
/*$secondary_color_bright: #64908A;*/
/*$secondary_color_dark: #424254;*/
/*$light_color: lighten($light_color, 15%);*/

/*http://www.colourlovers.com/palette/2539250/Alice_In_Wonderland*/
/*$light_color: #FEFFD6;*/
/*$dark_color: #010002;*/
/*$primary_color: #5BB7B6;*/
/*$secondary_color_bright: #FDF37A;*/
/*$secondary_color_dark: #E85A50;*/

/*http://www.colourlovers.com/palette/2541061/One_Day_Youll_Fly*/
/*$light_color: #F5EECF;*/
/*$dark_color: #70585D;*/
/*$primary_color: #988580;*/
/*$secondary_color_bright: #C1DAD0;*/
/*$secondary_color_dark: #91AEBF;*/

/*http://www.colourlovers.com/palette/2518524/heartbroken*/
/*$light_color: #D9D3B3;*/
/*$dark_color: #2C2020;*/
/*$primary_color: #499B8F;*/
/*$secondary_color_bright: #F94159;*/
/*$secondary_color_dark: #A63467;*/

/*http://www.colourlovers.com/palette/2518524/heartbroken*/
/*$light_color: #FCD6AD;*/
/*$dark_color: #644B6B;*/
/*$primary_color: #499B8F;*/
/*$secondary_color_bright: #FE8D4F;*/
/*$secondary_color_dark: #F60861;*/

/*http://www.colourlovers.com/palette/41095/leatherbound*/
$light_color: #F5F4D7;
$dark_color: #535233;
$primary_color: #951F2B;
$secondary_color_bright: #E0DFB1;
$secondary_color_dark: #A5A36C;

/*http://www.colourlovers.com/palette/2596576/b_l_o_s_s_o_m_s*/
/*$light_color: #FFD8CF;*/
/*$dark_color: #2D2324;*/
/*$primary_color: #713229;*/
/*$secondary_color_bright: #F7B3A6;*/
/*$secondary_color_dark: #E58586;*/


/*http://www.colourlovers.com/palette/2596618/Carl_Larsson_APC_5*/
/*$light_color: #EEDDC1;*/
/*$dark_color: #423A37;*/
/*$primary_color: #93966B;*/
/*$secondary_color_bright: #E2BF7F;*/
/*$secondary_color_dark: #5E5955;*/

$darken_amount: 7%;
$light_color: lighten($light_color, 5%);
$border_color: $secondary_color_dark;
$hover_color: $secondary_color_bright;
