%article.post.sixteen.columns
  .row
    %header.two.columns.info.alpha
      .title
        =link_to post.title, post_path(post.slug)
      %timedate.pubdate{ pubdate: "pubdate"}= post.pubdate.present? && post.pubdate.strftime("%m/%d/%y")
    .fourteen.columns.omega.body!= post.body_html
