- cache("about_me") do
  - content_for :page_title do
    = "about me"
  .row
    .four.columns
      &nbsp;
    .info.eight.columns
      %p just another bay area code monkey 
      %ul.links
        %li
          %a{ href: "http://github.com/wusher", class: "button"} github
        %li
          %a{ href: "http://www.linkedin.com/in/wusher", class: "button"} linkedin
        %li
          %a{ href: "http://stackoverflow.com/users/1632/maudite", class: "button"} stackoverflow
        %li
          %a{ href: "http://instagram.com/wusher", class: "button"} instagram
        %li
          = link_to "blog", posts_path
    .four.columns
      &nbsp;
