/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require skeleton
 *= require_tree .
*/


body {
  font-family: "linden-hill", sans-serif;
  margin: 0px;
  color: #334;
  background-color: #ffffff;
}

code {
  font-family: "ubuntu-mono", monospace;
}

.full-row {
  padding: 0px 30px;
  color: #aaa;
}

header {
  box-shadow: 0px 0px 555px #222 inset;
  float:right;
}
article header { 
  box-shadow: none;
  float:none;
}



h1 {
  font-size: 11pt;
  font-weight:normal;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.left { 
  float: left;
}
.right {
  float: right;
}

.nav {
  padding: 0px 15px;
  font-size: 11pt;
}

.nav a {
  padding: 9px 0;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.nav ul {
  padding: 9px;
  margin: 0px;
  list-style-type: none;
}


.post {
  font-size: 14pt;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.post .title a { 
  font-size: 14pt; 
  text-decoration:none;
  color: inherit; 
  display: block;
}
.post .pubdate {
  font-size: 14pt; 
}

.post .info {
  padding-bottom: 10px;
  padding-top: 19px;
  text-align: center; 
}
.post .info .pubdate{
  font-style: italic;
}
