/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require skeleton
 *= require_tree .
*/


body {
  font-family: serif;
  margin: 0px;
  color: #334;
  background-color: #ffffff;
}

.full-row {
  padding: 0px 30px;
  color: #aaa;
}

header {
  box-shadow: 0px 0px 555px #222 inset;
  float:right;
}



h1 {
  font-size: 11pt;
  font-weight:normal;
}

.left { 
  float: left;
}
.right {
  float: right;
}

.nav {
  margin-top: 08px;
  padding: 0px 15px;
  font-size: 11pt;
}

.nav a {
  text-decoration: none;
  color: inherit;
}
.nav ul {
  padding: 9px;
  margin: 0px;
  list-style-type: none;
}


.post {
  font-size: 13.5pt;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.post .title a { 
  font-size: 13pt; 
  text-decoration:none;
  color: inherit; 
}
.post .pubdate {
  font-size: 13pt; 
}

.post .info {
  padding-bottom: 10px;
  padding-top: 15px;

}


.post .info .pubdate{
}
@media only screen and (max-width: 767px) {
  .post .info, .post .info .pubdate {
    text-align: center; 
  }

}



