@import "colors";

@font-face {
  font-family: "fanwood";
  src: url("fanwood_text-webfont.woff");
}
@font-face {
  font-family: "fanwood";
  src: url("fanwood_text_italic-webfont.woff");
  font-style: italic;
}

@font-face {
  font-family: "ubuntu-mono";
  src: url("ubuntu-mono.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu-mono";
  src: url("UbuntuMono-B.ttf");
  font-weight: bold;
}


body {
  background-color: $light_color;
  background-image: url('background.png');
  color: $dark_color;
  font-family:  "fanwood", serif;
  margin: 0px;
}

.container.body { 
  padding-top: 15px;
}
@media only screen and (max-width: 767px) {
  .container.body { 
    padding-top: 0px;
  }
}


.liner { 
  .dark {
    float:left;
    width:15%;
  }
  .line_one { 
    background-color: $light_color;
    height: 13px;
    .dark { 
      height: 13px;
      background-color: darken($light_color, $darken_amount);
    }
  }
  .line_two { 
    background-color: $primary_color;
    height: 21px;
    .dark { 
      height: 21px;
      background-color: darken($primary_color, $darken_amount);
    }
  }
  .line_three { 
    background-color: $secondary_color_bright;
    height: 5px;
    .dark { 
      height: 5px;
      background-color: darken($secondary_color_bright, $darken_amount);
    }
  }
  .line_four { 
    background-color: $secondary_color_dark;
    height: 8px;
    .dark { 
      height: 8px;
      background-color: darken($secondary_color_dark, $darken_amount);
    }
  }
}

footer.footer{
  margin: 150px 0 50px 0;
  text-align: center;
}
