@import "colors";

body {
  font-family: "linden-hill", serif;
  background-color: $light_color;
  background-image: url('background.png');
  margin: 0px;
  color: $dark_color;
}
.container.body { 
  padding-top: 45px;
}


$darken_amount: 7%;

.liner { 
  .dark {
    float:left;
    width:15%;
  }
  .line_one { 
    height: 13px;
    background-color: $light_color;
    .dark { 
      background-color: darken($light_color, $darken_amount);
      height: 13px;
    }
  }
  .line_two { 
    height: 21px;
    background-color: $primary_color;
    .dark { 
      background-color: darken($primary_color, $darken_amount);
      height: 21px;
    }
  }
  .line_three { 
    height: 5px;
    background-color: $secondary_color_bright;
    .dark { 
      background-color: darken($secondary_color_bright, $darken_amount);
      height: 5px;
    }
  }
  .line_four { 
    height: 8px;
    background-color: $secondary_color_dark;
    .dark { 
      background-color: darken($secondary_color_dark, $darken_amount);
      height: 8px;
    }
  }

}
